.signup-container {
	display: flex;
	justify-content: space-between;
	width: 100vw;
	height: 100vh;
	/* background-color: aqua; */
}

.signup-container-left {
	width: 50vw;
	background-color: #1336b0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.signup-container-left p {
	font-size: 26px;
	/* padding: 0 20px 0 20px; */
	width: 84%;
}

.signup-image {
	width: 80%;
}

.signup-container-right {
	width: 50vw;
	background-color: #f0f0f0;
	color: black;
}

.signup-title {
	font-size: 26px;
	font-weight: bold;
	text-align: center;
}

.signup-desc {
	font-size: 20px;
	text-align: center;
}

.signup-footer {
	display: flex;
}

.dots-container {
	display: flex;
	gap: 20px;
	justify-content: center;
}

.dots {
	width: 14px;
	height: 14px;
	background-color: #0000003a;
	border-radius: 100%;
}

.dot-current {
	width: 34px;
	height: 14px;
	background-color: #1336b0;
	border-radius: 20px;
}
